.av-area-1 {
	z-index: 1;
}
.av-area-shape1 {
	right: 0;
	bottom: 5%;
	z-index: -1;
}
.av-company1-sec {
	.av-ser1-shape {
		top: 140px;
		right: 120px;
		@media #{$sm,$xs,$xxs} {
			display: none;
		}
	}
	.av-ser1-shape2 {
		z-index: -1;
		bottom: -80px;
		right: -120px;
	}
}
.av-company1-content {
	margin: 0 auto;
	gap: 30px 40px;
	max-width: 1280px;
	justify-content: space-between;
	@media #{$lg,$md,$sm,$xs,$xxs} {
		flex-wrap: wrap;
		justify-content: center;
	}
}
@keyframes moveGradient {
	0% { background-position: 0 0; }
	100% { background-position: -200% 0; }
}
.av-company1-text {
	width: 100%;
	max-width: 760px;
	p {
		max-width: 700px;
	}
	.av-stroke-text {
		line-height: 1;
		font-size: 130px;
		font-weight: 700;
		display: inline-block;
		background: var(--av-prime-c1);
		background-size: 200% 100%;
		background-position: 0 0;
		-webkit-background-clip: text;
		-webkit-text-stroke: 4px transparent;
		color: var(--av-black1);
		margin-bottom: 35px;
		animation: moveGradient 3s linear infinite;
		@media #{$xxs} {
			font-size: 100px;
		}
		@media #{$xxxs} {
			font-size: 60px;
		}
	}
}
@keyframes morph {
	0% {
		clip-path: polygon(
			2.5% 34%, 2% 36%, 1.5% 38%, 1% 41%, 0.5% 45%, 0% 48%, 
			1% 57%, 3% 62%, 8% 71%, 17% 79%, 27% 85%, 38% 90%, 
			49% 95%, 59% 98%, 69% 100%, 79% 99%, 87% 96%, 94% 91%, 
			99% 83%, 99% 76%, 98% 69%, 96% 62%, 94% 53%, 94% 48%, 
			94% 40%, 94% 32%, 92% 23%, 86% 12%, 78% 5%, 66% 1%, 
			54% 0%, 41% 2%, 28% 8%, 18% 15%, 10% 22%, 6% 28%, 
			3% 32%
			);
	}
	33% {
		clip-path: polygon(
			4% 32%, 3% 35%, 2% 39%, 1.5% 42%, 0.5% 47%, 0% 50%, 
			1% 59%, 4% 65%, 10% 72%, 20% 80%, 30% 86%, 40% 92%, 
			52% 96%, 62% 99%, 71% 100%, 81% 98%, 89% 95%, 95% 89%, 
			100% 82%, 100% 74%, 99% 67%, 97% 60%, 95% 52%, 94% 47%, 
			94% 39%, 93% 30%, 90% 20%, 84% 10%, 75% 3%, 64% 0%, 
			50% 1%, 38% 4%, 25% 10%, 15% 17%, 8% 25%, 5% 29%, 
			4% 32%
			);
	}
	66% {
		clip-path: polygon(
			3% 35%, 2% 38%, 1.5% 41%, 1% 44%, 0.5% 48%, 0% 52%, 
			2% 61%, 5% 68%, 12% 74%, 22% 82%, 33% 88%, 44% 93%, 
			55% 97%, 66% 99%, 75% 100%, 84% 98%, 91% 94%, 96% 87%, 
			100% 80%, 100% 72%, 98% 65%, 96% 58%, 94% 50%, 93% 44%, 
			92% 37%, 91% 28%, 87% 18%, 80% 8%, 70% 2%, 58% 0%, 
			46% 2%, 34% 6%, 22% 12%, 12% 20%, 6% 27%, 4% 31%, 
			3% 35%
			);
	}
	100% {
		clip-path: polygon(
			2.5% 34%, 2% 36%, 1.5% 38%, 1% 41%, 0.5% 45%, 0% 48%, 
			1% 57%, 3% 62%, 8% 71%, 17% 79%, 27% 85%, 38% 90%, 
			49% 95%, 59% 98%, 69% 100%, 79% 99%, 87% 96%, 94% 91%, 
			99% 83%, 99% 76%, 98% 69%, 96% 62%, 94% 53%, 94% 48%, 
			94% 40%, 94% 32%, 92% 23%, 86% 12%, 78% 5%, 66% 1%, 
			54% 0%, 41% 2%, 28% 8%, 18% 15%, 10% 22%, 6% 28%, 
			3% 32%
			);
	}
}

.av-company1-exp {
	width: 100%;
	height: 458px;
	max-width: 412px;
	background: linear-gradient(90deg, rgba(119, 85, 255, 0.1) 10%, rgba(64, 164, 219, 0.1) 44%, rgba(12, 210, 179, 0.1) 100%);
	clip-path: polygon(
		2.5% 34%, 2% 36%, 1.5% 38%, 1% 41%, 0.5% 45%, 0% 48%, 
		1% 57%, 3% 62%, 8% 71%, 17% 79%, 27% 85%, 38% 90%, 
		49% 95%, 59% 98%, 69% 100%, 79% 99%, 87% 96%, 94% 91%, 
		99% 83%, 99% 76%, 98% 69%, 96% 62%, 94% 53%, 94% 48%, 
		94% 40%, 94% 32%, 92% 23%, 86% 12%, 78% 5%, 66% 1%, 
		54% 0%, 41% 2%, 28% 8%, 18% 15%, 10% 22%, 6% 28%, 
		3% 32%
		);
	animation: morph 3s ease-in-out infinite alternate;
	@media #{$xxs} {
		height: 300px;
	}
	.inner-item {
		display: flex;
		h2 {
			color: #F0F2F4;
			font-size: 100px;
			font-weight: 300;
		}
		p {
			max-height: 115px;
			writing-mode: sideways-rl;
		}
	}
}