.av-company1-content {
	margin: 0 auto;
	gap: 30px 40px;
	max-width: 1355px;
	justify-content: space-between;
	@media #{$lg,$md,$sm,$xs,$xxs} {
		flex-wrap: wrap;
		justify-content: center;
	}
}
.av-company1-text {
	width: 100%;
	max-width: 760px;
	.av-stroke-text {
		line-height: 1;
		font-size: 130px;
		font-weight: 700;
		display: inline-block;
		background: var(--av-prime-c1);
		-webkit-background-clip: text;
		-webkit-text-stroke: 4px transparent;
		color: var(--av-black1);
		margin-bottom: 35px;
		@media #{$xxs} {
			font-size: 100px;
		}
		@media #{$xxxs} {
			font-size: 60px;
		}
	}
}
.av-company1-exp {
	width: 100%;
	height: 458px;
	max-width: 412px;
	background: linear-gradient(90deg, rgba(119, 85, 255, 0.1) 10%, rgba(64, 164, 219, 0.1) 44%, rgba(12, 210, 179, 0.1) 100%);
	clip-path: polygon( 2.508% 33.915%,2.508% 33.915%,2.314% 34.399%,1.831% 35.781%,1.21% 37.957%,0.599% 40.822%,0.147% 44.271%,0.004% 48.2%,0.32% 52.503%,1.243% 57.077%,2.923% 61.817%,5.509% 66.617%,5.509% 66.617%,8.909% 71.171%,12.872% 75.27%,17.308% 78.958%,22.124% 82.278%,27.231% 85.274%,32.537% 87.988%,37.953% 90.466%,43.387% 92.749%,48.749% 94.883%,53.947% 96.909%,53.947% 96.909%,59.043% 98.567%,64.118% 99.576%,69.113% 99.955%,73.969% 99.722%,78.625% 98.894%,83.023% 97.49%,87.104% 95.526%,90.808% 93.022%,94.075% 89.995%,96.848% 86.464%,96.848% 86.464%,98.789% 82.805%,99.728% 79.331%,99.852% 75.959%,99.35% 72.607%,98.408% 69.194%,97.215% 65.637%,95.959% 61.854%,94.826% 57.763%,94.005% 53.283%,93.683% 48.33%,93.683% 48.33%,93.747% 43.471%,93.893% 39.238%,94.018% 35.498%,94.021% 32.12%,93.8% 28.972%,93.254% 25.92%,92.28% 22.832%,90.778% 19.576%,88.645% 16.02%,85.781% 12.031%,85.781% 12.031%,82.065% 8.15%,77.535% 5.01%,72.325% 2.622%,66.57% 0.995%,60.403% 0.139%,53.957% 0.064%,47.368% 0.781%,40.768% 2.297%,34.292% 4.624%,28.073% 7.771%,28.073% 7.771%,22.461% 11.387%,17.676% 15.047%,13.664% 18.652%,10.369% 22.101%,7.734% 25.293%,5.703% 28.13%,4.221% 30.511%,3.232% 32.335%,2.68% 33.503%,2.508% 33.915% );
	@media #{$xxs} {
		height: 300px;
	}
	.inner-item {
		display: flex;
		h2 {
			color: #F0F2F4;
			font-size: 100px;
			font-weight: 300;
		}
		p {
			max-height: 115px;
			writing-mode: sideways-rl;
		}
	}
}