.av-hero1-slider {
	width: 100%;
	max-width: 1335px;
	padding-left: 100px;
	background-color: #1F1F1F;
}
.av-hero1-text {
	max-width: 595px;
	.hero_title {
		font-size: 55px;
		line-height: 1;
		font-weight: 600;
	}
}