.av-hero1-content {
	@media #{$xl,$lg,$md,$sm,$xs,$xxs} {
		flex-wrap: wrap;
	}
}
@keyframes squareMove {
	0%   { transform: translate(0, 0); }
	25%  { transform: translate(25%, 0); }
	50%  { transform: translate(25%, 5%); }
	75%  { transform: translate(0, 25%); }
	100% { transform: translate(0, 0); }
}
.av-hero1-slide-wrap {
	width: 100%;
	max-width: 76.3%;
	position: relative;
	@media #{$xl,$lg,$md,$sm,$xs,$xxs} {
		max-width: 100%;
	}
	.av-hr1-pagi {
		top: 185px;
		z-index: 2;
		right: 40px;
		left: auto;
		width: auto;
		position: absolute;
		@media #{$sm,$xs,$xxs} {
			position: static;
			text-align: center;
			margin: 30px 0px;
		}
		.swiper-pagination-bullet {
			opacity: 1;
			width: 24px;
			height: 24px;
			display: block;
			position: relative;
			border: 1px solid transparent;
			margin: 12px 0px !important;
			background-color: transparent;
			@media #{sm,$xs,$xxs} {
				display: inline-block;
				margin: 0px 5px !important;
			}
			&:before {
				top: 6px;
				left: 6px;
				width: 10px;
				height: 10px;
				content: '';
				border-radius: 100%;
				position: absolute;
				background-color: #F14F44;
			}
			&:is(.swiper-pagination-bullet-active) {
				border: 1px solid #F14F44;
			}
		}
	}
}
.av-hero1-item {
	z-index: 1;
	width: 100%;
	padding-left: 100px;
	background-color: #1F1F1F;
	clip-path: polygon( 2.393% 0.066%,97.607% 0.066%,97.607% 0.066%,97.989% 0.12%,98.351% 0.277%,98.689% 0.528%,98.998% 0.864%,99.273% 1.278%,99.508% 1.76%,99.7% 2.303%,99.843% 2.897%,99.932% 3.534%,99.963% 4.205%,99.963% 56.636%,99.963% 56.636%,99.932% 57.307%,99.843% 57.944%,99.7% 58.538%,99.508% 59.081%,99.273% 59.563%,98.998% 59.977%,98.689% 60.313%,98.351% 60.564%,97.989% 60.721%,97.607% 60.775%,89.978% 60.775%,89.978% 60.775%,89.583% 60.831%,89.209% 60.993%,88.86% 61.252%,88.542% 61.599%,88.259% 62.026%,88.016% 62.524%,87.818% 63.083%,87.671% 63.696%,87.579% 64.353%,87.547% 65.046%,87.547% 95.795%,87.547% 95.795%,87.516% 96.466%,87.427% 97.103%,87.284% 97.697%,87.092% 98.24%,86.857% 98.722%,86.582% 99.136%,86.274% 99.472%,85.935% 99.723%,85.573% 99.88%,85.191% 99.934%,2.393% 99.934%,2.393% 99.934%,2.011% 99.88%,1.649% 99.723%,1.311% 99.472%,1.002% 99.136%,0.727% 98.722%,0.492% 98.24%,0.3% 97.697%,0.158% 97.103%,0.068% 96.466%,0.037% 95.795%,0.037% 4.205%,0.037% 4.205%,0.068% 3.534%,0.158% 2.897%,0.3% 2.303%,0.492% 1.76%,0.727% 1.278%,1.002% 0.864%,1.311% 0.528%,1.649% 0.277%,2.011% 0.12%,2.393% 0.066% );
	@media #{$xxl} {
		padding-left: 50px;
	}
	@media #{$xl} {
		padding-left: 15px;
	}
	@media #{$xl,$lg,$md,$sm,$xs,$xxs} {
		clip-path: none;
		padding-left: 15px;
	}
	@media #{$xs,$xxs} {
		padding-bottom: 100px;
	}
	.hero-hand {
		left: -50%;
		bottom: -12%;
		transition: 1500ms cubic-bezier(0.5, -0.5, 0.1, 1.1);
		@media #{$sm,$xs,$xxs} {
			display: none;
		}
	}
	.hero_robot {
		z-index: -1;
		right: 155px;
		bottom: -25px;
		position: absolute;
		transform: translateY(100%);
		transition: all 1000ms ease-in-out;
		@media #{$xxxl} {
			right: 80px;
		}
		@media #{$xxl} {
			right: -40px;
		}
		@media #{$xl,$lg,$md,$sm,$xs,$xxs} {
			right: 0;
		}
		@media #{$md} {
			right: -250px;
		}
		@media #{$sm,$xs,$xxs} {
			right: -65%;
		}
		@media #{$xs,$xxs} {
			display: none;
		}
	}
	.hero-shape-1 {
		left: -30%;
		bottom: -85%;
		z-index: -1;
		animation: squareMove 10s infinite linear;
		@media #{$md,$sm,$xs,$xxs} {
			display: none;
		}
	}
}
.av-hero1-text {
	max-width: 575px;
	@media #{$xs,$xxs} {
		padding-right: 15px;
	}
	.hero_title {
		font-size: 55px;
		line-height: 1.04;
		font-weight: 600;
		.split-line {
			overflow: hidden;
			transform: translateY(-100%) scaleY(-1);
			opacity: 0;
			padding-bottom: 5px;
			transition:  .8s var(--cube-1);
			transition-delay: 0s;
		}
		@media #{$xs} {
			font-size: 48px;
		}
		@media #{$xxs} {
			font-size: 40px;
		}
		@media #{$xxxs} {
			font-size: 36px;
		}
	}
	p {
		opacity: 0;
		max-width: 500px;
		visibility: hidden;
		padding: 20px 0px 30px;
		transform: translateY(50px);
		transition:  .8s var(--cube-2);
	}
	.av-btn1 {
		opacity: 0;
		visibility: hidden;
		transform: translateY(60px);
		transition:  .8s var(--cube-2);
	}
	ul {
		padding-top: 40px;
		li {
			gap: 12px;
			opacity: 0;
			display: flex;
			visibility: hidden;
			margin-bottom: 20px;
			transform: translateX(50px);
			transition:  .8s var(--cube-3);
			i {
				width: 22px;
				height: 22px;
				display: flex;
				border-radius: 4px;
				align-items: center;
				background-color: #fff;
				justify-content: center;
			}
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}

.av-hero1-count-wrap {
	top: 0;
	right: 0;
	z-index: 2;
	width: 32%;
	height: 100%;
	max-width: 561px;
	padding-top: 24px;
	padding-right: 24px;
	position: absolute;
	background: var(--av-prime-c1);
	clip-path: polygon( 23.173% 63.995%,23.173% 63.995%,24.098% 63.94%,24.976% 63.78%,25.794% 63.525%,26.542% 63.183%,27.206% 62.763%,27.776% 62.273%,28.24% 61.722%,28.586% 61.119%,28.802% 60.472%,28.877% 59.79%,28.877% 4.205%,28.877% 4.205%,28.952% 3.523%,29.168% 2.876%,29.514% 2.273%,29.978% 1.722%,30.548% 1.232%,31.212% 0.811%,31.96% 0.469%,32.778% 0.214%,33.656% 0.055%,34.581% 0%,94.296% 0%,94.296% 0%,95.221% 0.055%,96.099% 0.214%,96.917% 0.469%,97.665% 0.811%,98.329% 1.232%,98.899% 1.722%,99.363% 2.273%,99.709% 2.876%,99.925% 3.523%,100% 4.205%,100% 79.501%,100% 79.501%,99.925% 80.183%,99.709% 80.83%,99.363% 81.433%,98.899% 81.984%,98.329% 82.474%,97.665% 82.894%,96.917% 83.236%,96.099% 83.491%,95.221% 83.651%,94.296% 83.706%,83.601% 83.706%,83.601% 83.706%,82.675% 83.761%,81.798% 83.92%,80.979% 84.175%,80.232% 84.517%,79.567% 84.937%,78.997% 85.427%,78.533% 85.978%,78.187% 86.582%,77.971% 87.229%,77.897% 87.911%,77.897% 95.795%,77.897% 95.795%,77.822% 96.477%,77.606% 97.124%,77.26% 97.727%,76.796% 98.278%,76.226% 98.768%,75.561% 99.189%,74.814% 99.531%,73.995% 99.786%,73.118% 99.945%,72.193% 100%,5.704% 100%,5.704% 100%,4.779% 99.945%,3.901% 99.786%,3.083% 99.531%,2.335% 99.189%,1.671% 98.768%,1.101% 98.278%,0.637% 97.727%,0.291% 97.124%,0.075% 96.477%,0% 95.795%,0% 68.2%,0% 68.2%,0.075% 67.518%,0.291% 66.871%,0.637% 66.267%,1.101% 65.716%,1.671% 65.226%,2.335% 64.806%,3.083% 64.464%,3.901% 64.209%,4.779% 64.05%,5.704% 63.995%,23.173% 63.995% );
	@media #{$xxxl} {
		padding-right: 15px;
	}
	@media #{$xl,$lg,$md,$sm,$xs,$xxs} {
		width: 100%;
		padding: 20px;
		max-width: 100%;
		clip-path: none;
		position: relative;
	}
}
.av-hero1-count-area {
	@media #{$xl,$lg,$md,$sm,$xs,$xxs} {
		max-width: 100%;
		width: 100%;
	}
}
.av-hero1-client {
	padding: 38px 40px;
	border-radius: 24px;
	background: #FFFFFF26;
	margin-bottom: 24px;
	ul {
		text-align: center;
		margin-bottom: 14px;
		li {
			width: 60px;
			height: 60px;
			overflow: hidden;
			border-radius: 100%;
			margin-left: -25px;
			border: 2px solid #fff;
			&:first-child {
				margin-left: 0;
			}
		}
	}
	.client-count {
		gap: 18px;
		@media #{$xxs} {
			gap: 0px 10px;
		}
		@media #{$xxs} {
			flex-wrap: wrap;
		}
		h3 {
			font-size: 42px;
			font-weight: 600;
			@media #{$xxl} {
				font-size: 30px;
			}
		}
		p {
			max-width: 95px;
		}
	}
}
.av-hero1-count-content {
	width: 100%;
	max-width: 351px;
	@media #{$xxxl} {
		max-width: 320px;
	}
	@media #{$xxl} {
		max-width: 275px;
	}
	@media #{$xl,$lg,$md,$sm,$xs,$xxs} {
		max-width: 100%;
	}
}
.av-hr1-count-wrap {
	gap: 24px;
	@media #{$xl,$lg,$md,$sm,$xs,$xxs} {
		width: 100%;
		max-width: 100%;
	}
	@media #{$xxs} {
		flex-wrap: wrap;
	}
}
.av-hr1-count-item {
	padding: 20px;
	border-radius: 24px;
	background: #FFFFFF26;
	@media #{$xl,$lg,$md,$sm,$xs} {
		width: 50%;
	}
	@media #{$xxs} {
		width: 100%;
	}
	.item-icon {
		width: 60px;
		height: 60px;
		margin-bottom: 20px;
		border-radius: 12px;
		background: #F0F2F466;
	}
	.item-text {
		h3 {
			color: #F0F2F4;
			font-size: 32px;
			font-weight: 700;
			padding-bottom: 5px;
			@media #{$xxl} {
				font-size: 28px;
			}
		}
		p {
			color: #F0F2F4;
			max-width: 124px;
			@media #{$xxs} {
				max-width: 100%;
			}
		}
	}
}
@keyframes border_animation {
	0% {
		-webkit-transform: scale(1);
		transform: scale(1);
		opacity: 0;
	}
	20% {
		-webkit-transform: scale(1.1);
		transform: scale(1.1);
		opacity: 1;
	}
	100% {
		-webkit-transform: scale(1.5);
		transform: scale(1.5);
		opacity: 0;
	}
}
.av-hero1-video {
	left: 57px;
	bottom: 80px;
	position: absolute;
	@media #{$xl,$lg,$md,$sm,$xs,$xxs} {
		margin: 40px;
		position: static;
	}
	a  {
		gap: 40px;
		.item-icon {
			width: 110px;
			height: 110px;
			border-radius: 100%;
			i {
				width: 80px;
				height: 80px;
				display: flex;
				color: #F6340D;
				font-size: 30px;
				align-items: center;
				border-radius: 100%;
				background-color: #fff;
				justify-content: center;
			}
			.video_btn_border {
				top: 0;
				left: 0;
				opacity: 0;
				width: 100%;
				height: 100%;
				border-radius: 60px;
				position: absolute;
				-webkit-animation-play-state: running;
				animation-play-state: running;
				border: 30px solid #fff;
				-webkit-animation: border_animation 3.9s linear 0s infinite;
				animation: border_animation 3.9s linear 0s infinite;
			}
			.video_btn_border:is(.border_wrap-2) {
				-webkit-animation-delay: 1.3s;
				animation-delay: 1.3s;
			}
			.video_btn_border:is(.border_wrap-3) {
				-webkit-animation-delay: 2.6s;
				animation-delay: 2.6s;
			}
		}
		span {
			color: #fff;
			font-size: 20px;
			text-transform: uppercase;
			font-family: var(--av-sora);
		}
	}
}
.av-hr1-btn {
	right: 0;
	bottom: 0;
	position: absolute;
	@media #{$xl,$lg,$md,$sm,$xs,$xxs} {
		display: none;
	}
	a {
		width: 100px;
		height: 100px;
		border-radius: 24px;
		background-color: #F14F44;
		@media #{$xxl} {
			width: 80px;
			height: 100px;
		}
	}
}
.swiper-slide-active { 
	.av-hero1-item {
		.av-hero1-text {
			.hero_title {
				.split-line {
					transform: translateY(0%) scaleY(1);
					opacity: 1;
					transition-delay: 0.7s;
					&:nth-child(2) {
						transition-delay: 0.9s;
					}
					&:nth-child(3) {
						transition-delay: 1.1s;
					}
					&:nth-child(4) {
						transition-delay: 1.3s;
					}
					&:nth-child(5) {
						transition-delay: 1.5s;
					}
				}
			}
			p {
				opacity: 1;
				visibility: visible;
				transform: translateY(0px);
				transition-delay: .5s;
			}
			.av-btn1 {
				opacity: 1;
				visibility: visible;
				transition-delay: .7s;
				transform: translateY(0px);
			}
			ul {
				li {
					opacity: 1;
					visibility: visible;
					transform: translateX(0px);
					&:nth-child(1) {
						transition-delay: .8s;
					}
					&:nth-child(2) {
						transition-delay: 1.1s;
					}
					&:nth-child(3) {
						transition-delay: 1.2s;
					}
				}
			}
		}
		.hero_robot {
			transform: translateY(0);
		}
		.hero-hand {
			left: -3%;
		}
	}
}