
.av-ser1-content {
	margin: 0 auto;
	padding: 100px;
	max-width: 1760px;
	border-radius: 32px;
	background-color: #1F1F1F;
	@media #{$xl,$lg,$md,$sm,$xs} {
		padding: 100px 50px;
	}
	@media #{$xxs} {
		padding: 80px 15px;
	}
}
.av-ser1-top-content {
	gap: 20px 30px;
	.av-sec-title {
		max-width: 770px;
	}
	.av-ser1-desc {
		max-width: 425px;
		p {
			padding-bottom: 35px;
		}
	}
}
.av-ser1-accordion {
	.accordion-item,
	.accordion-button:not(.collapsed),
	.accordion-button {
		background-color: transparent;
	}
	.accordion-item {
		border: none;
		border-radius: 0;
		border-bottom: none;
		padding: 48px 0px 45px;
		transition: all 500ms ease-in-out;
		border-bottom: 1px solid  rgba(198, 199, 200, .15);
	}
	.accordion-button {
		padding: 0;
		border: none;
		color: #C6C7C8;
		font-size: 48px;
		font-weight: 400;
		position: relative;
		text-transform: uppercase;
		transition: all 500ms ease;
		@media #{$lg,$md} {
			font-size: 40px;
		}
		@media #{$sm} {
			font-size: 36px;
		}
		@media #{$xs} {
			font-size: 30px;
		}
		@media #{$xxs} {
			font-size: 28px;
		}
		span {
			max-width: 85%;
			display: inline-block;
			b {
				font-weight: 600;
				margin-right: 25px;
				color: var(--nx-base1);
				@media #{$md,$sm,$xs,$xxs} {
					margin-right: 10px;
				}
			}
			img {
				margin-right: 42px;
				@media #{$xs} {
					display: none;
				}
			}
		}
	}

	.accordion-button:focus {
		border: none;
		box-shadow: none;
	}
	.accordion-body {
		padding: 0;
		padding-top: 0;
		font-size: 18px;
		padding-bottom: 0;
		@media #{$md,$sm,$xs,$xxs} {
			padding-left: 0;
		}
	}
	.accordion-button::after {
		display: none;
	}
	.accordion-button::before {
		right: 0;
		top: -12px;
		height: 80px;
		content: '\f070';
		width: 80px;
		height: 80px;
		display: flex;
		font-size: 30px;
		border-radius: 0;
		font-weight: 800;
		position: absolute;
		border-radius: 100%;
		align-items: center;
		justify-content: center;
		transition: all 500ms ease-in-out;
		background-color: #1A1A1A;
		font-family: 'Font Awesome 6 free';
		@media #{$xs,$xxs} {
			width: 40px;
			height: 40px;
			font-size: 20px ;
		}
	}
	.accordion-button:not(.collapsed) { 
		box-shadow: none;
		padding-bottom: 35px;
	}
	.accordion-button:not(.collapsed) {  
		&:before {
			color: #fff;
			content: '\f06e';
			background: var(--av-prime-c1);
		}
	}
}
.av-ser1-img-text {
	gap: 30px;
	justify-content: space-between;
	@media #{$lg,$md,$sm,$xs,$xxs} {
		flex-wrap: wrap;
		justify-content: center;
	}
	.item-img {
		overflow: hidden;
		border-radius: 12px;
	}
	.item-text {
		max-width: 585px;
		@media #{$xl} {
			max-width: 500px;
		}
		h3 {
			color: #fff;
			font-size: 20px;
			font-weight: 600;
			padding-bottom: 14px;
			text-transform: uppercase;
		}
		p {
			color: #C6C7C8;
			padding-bottom: 20px;
		}
		li {
			color: #C6C7C8;
			margin-bottom: 10px;
			i {
				margin-right: 10px;
			}
		}
	}
}