.at-text-scrol1-bg {
	z-index: 1;
	position: relative;
	background-color: #F0F2F4;
	&:is(.ver_2) {
		background-image: var(--av-prime-c1);
		.at-text-scrol1 {
			h2 {
				color: #fff;
			}
		}
	}
	.at-text-scrol1 {
		h2 {
			color: var(--av-black1);
		}
	}
}
.at-text-scrol2-bg {
	width: 105%;
	transform: rotate(-4deg);
	background-image: var(--av-prime-c1);
	&:is(.ver_2) {
		background: #1F1F1F;
	}
}
.at-text-scrol1 {
	padding: 34px 0px 25px;
	@media #{$lg,$md,$sm,$xs,$xxs} {
		padding: 25px 0px;
	}
	h2 {
		color: #fff;
		font-size: 60px;
		margin: 0px 15px;
		display: inline-block;
		text-transform: uppercase;
		@media #{$lg,$md,$sm,$xs,$xxs} {
			font-size: 30px;
		}
	}
}