.av-hero3-content {
	padding: 24px;
	gap: 40px 30px;
	margin-top: 160px;
	border-radius: 24px;
	background-color: #1F1F1F;
	@media #{$lg,$md,$sm,$xs,$xxs} {
		flex-wrap: wrap;
		justify-content: center !important;
	}
	@media #{$xxs} {
		padding: 0;
		border-radius: 0;
		margin-top: 80px;
		background-color: transparent;
	}
}
.av-hero3-text-wrap {
	max-width: 900px;
	margin-left: 76px;
	padding-top: 100px;
	@media #{$xxl} {
		margin-left: 0;
		max-width: 800px;
	}
	@media #{$xl,$lg,$md,$sm,$xs,$xxs} {
		margin-left: 0;
		max-width: 700px;
	}
	@media #{$xxs} {
		max-width: 100%;
	}
}
.av-hero3-text {
	padding-bottom: 130px;
	@media #{$lg,$md,$sm,$xs,$xxs} {
		padding-bottom: 40px;
	}
	.hr3_title {
		color: #F0F2F4;
		font-size: 72px;
		margin-bottom: 16px;
		@media #{$xxl} {
			font-size: 68px;
		}
		@media #{$xl,$lg} {
			font-size: 60px;
		}
		@media #{$md} {
			font-size: 55px;
		}
		@media #{$sm} {
			font-size: 45px;
		}
		@media #{$xs} {
			font-size: 40px;
		}
		@media #{$xxs} {
			font-size: 38px;
		}
		@media #{$xxxs} {
			font-size: 36px;
		}
	}
	p {
		padding-bottom: 30px;
	}
	.hr3_btn_grp {
		gap: 12px;
		@media #{$xxs} {
			flex-wrap: wrap;
		}
	}
}
.av-hero3-card {
	gap: 24px;
	@media #{$sm,$xs,$xxs} {
		flex-wrap: wrap;
	}
}
.av-hr3-card1 {
	width: 280px;
	height: 205px;
	padding: 35px 40px;
	border-radius: 24px;
	background-color: #212121;
	@media #{$sm,$xs,$xxs} {
		width: 100%;
	}
	h3 {
		font-size: 40px;
		font-weight: 700;
		@extend%gradient-text;
		padding-bottom: 16px;
	}
	p {
		color: #C6C7C8;
		font-weight: 500;
		max-width: 185px;
	}
}
.av-hr3-card2 {
	width: 360px;
	height: 274px;
	border-radius: 24px;
	background-color: #fff;
	padding: 35px 40px 40px;
	@media #{$sm,$xs,$xxs} {
		width: 100%;
	}
	h3 {
		color: #1A1A1A;
		font-size: 40px;
		font-weight: 700;
		padding-bottom: 14px;
	}
	p {
		color: #282828;
		font-weight: 500;
		padding-bottom: 28px;
	}
	ul {
		display: flex;
		li {
			width: 60px;
			height: 60px;
			overflow: hidden;
			border-radius: 100%;
			margin-left: -25px;
			border: 2px solid #fff;
			&:first-child {
				margin-left: 0;
			}
			&:last-child {
				color: #FFFFFF;
				display: flex;
				align-items: center;
				justify-content: center;
				background-color: #1F1F1F;
				i {
					transform: rotate(-45deg);
				}
			}
		}
	}
}

.av-hero3-img {
	.item-img {
		overflow: hidden;
		border-radius: 24px;
		@media #{$xxs} {
			height: 495px;
		}
	}
	.item-card-wrap {
		z-index: 1;
		right: 40px;
		bottom: 40px;
		position: absolute;
		@media #{$xxs} {
			top: 0;
			right: 0;
		}
		.inner-item {
			width: 306px;
			background: #FFFFFFB2;
			padding: 32px 32px 28px;
			backdrop-filter: blur(50px);
			clip-path: polygon( 0% 92.541%,0% 92.541%,0.137% 93.751%,0.533% 94.898%,1.167% 95.969%,2.018% 96.946%,3.063% 97.815%,4.281% 98.561%,5.652% 99.167%,7.152% 99.62%,8.761% 99.902%,10.458% 100%,64.706% 100%,64.706% 100%,66.402% 99.902%,68.011% 99.62%,69.512% 99.167%,70.882% 98.561%,72.1% 97.815%,73.146% 96.946%,73.996% 95.969%,74.63% 94.898%,75.027% 93.751%,75.163% 92.541%,75.163% 91.608%,75.163% 91.608%,75.334% 90.096%,75.83% 88.661%,76.622% 87.324%,77.686% 86.102%,78.992% 85.015%,80.515% 84.083%,82.228% 83.325%,84.104% 82.76%,86.115% 82.406%,88.235% 82.284%,89.542% 82.284%,89.542% 82.284%,91.239% 82.187%,92.848% 81.904%,94.348% 81.452%,95.719% 80.845%,96.937% 80.1%,97.982% 79.23%,98.833% 78.253%,99.467% 77.183%,99.863% 76.035%,100% 74.825%,100% 7.459%,100% 7.459%,99.863% 6.249%,99.467% 5.102%,98.833% 4.031%,97.982% 3.054%,96.937% 2.185%,95.719% 1.439%,94.348% 0.833%,92.848% 0.38%,91.239% 0.098%,89.542% 0%,10.458% 0%,10.458% 0%,8.761% 0.098%,7.152% 0.38%,5.652% 0.833%,4.281% 1.439%,3.063% 2.185%,2.018% 3.054%,1.167% 4.031%,0.533% 5.102%,0.137% 6.249%,0% 7.459%,0% 92.541% );
			@media #{$xxs} {
				width: 100%;
			}
			.item-value {
				gap: 20px;
				margin-bottom: 34px;
				h3 {
					width: 72px;
					height: 72px;
					display: flex;
					font-size: 28px;
					font-weight: 600;
					align-items: center;
					border-radius: 100%;
					color: var(--av-black1);
					justify-content: center;
					border: 4px solid transparent;
					background: linear-gradient(rgb(255 255 255 / 99%), rgb(255 255 255 / 81%)) padding-box, var(--av-prime-c1) border-box;
				}
				p {
					font-size: 24px;
					line-height: 1.2;
					font-weight: 600;
					color: var(--av-black1);
					text-decoration: underline;
					span {
						display: block;
						font-size: 20px;
						font-weight: 500;
						color: var(--av-black1);
					}
				}
			}
			.item-exp {
				width: 202px;
				height: 202px;
				margin: 0 auto;
				border-radius: 100%;
				margin-bottom: 30px;
				border: 1px solid #F0F2F4;
				h3 {
					font-size: 18px;
					font-weight: 500;
					color: #282828B2;
					padding-bottom: 5px;
					span {
						color: #1A1A1A;
						font-size: 32px;
						font-weight: 700;
					}
				}
				p {
					color: #1F1F1F;
					font-size: 24px;
					font-weight: 500;
				}
			}
			.learn_more {
				color: #1F1F1F;
				font-size: 20px;
				font-weight: 500;
			}
		}
		.arrow_more {
			right: 0;
			bottom: 0;
			width: 64px;
			height: 64px;
			color: #1A1A1A;
			font-size: 22px;
			position: absolute;
			border-radius: 100%;
			transform: rotate(45deg);
			background-color: #FFFFFF;
		}
	}
	.av-hr2-scroll {
		top: auto;
		left: -90px;
		bottom: 160px;
		background: var(--av-prime-c1);
		@media #{$xl} {
			display: none !important;
		}
	}
}

.av-hr3-ft-content {
	gap: 24px;
	@media #{$lg,$md,$sm,$xs,$xxs} {
		flex-wrap: wrap;
		justify-content: center;
	}
}

.av-hr3-ft-item {
	width: 100%;
	max-width: 656px;
	@media #{$lg,$md,$sm,$xs,$xxs} {
		max-width: 100%;
	}
	.item-arrow {
		top: 0;
		right: 0;
		position: absolute;
		a {
			z-index: 1;
			width: 64px;
			height: 64px;
			font-size: 22px;
			border-radius: 100%;
			position: relative;
			transform: rotate(-45deg);
			border: 1px solid transparent;
			background: linear-gradient(#212121, #212121) padding-box, var(--av-prime-c1) border-box;
			&:before {
				top: 0;
				left: 0;
				z-index: -1;
				width: 100%;
				content: '';
				height: 100%;
				border-radius: 100%;
				transform: scale(0);
				position: absolute;
				transition: all 500ms ease-in-out;
				background-image: var(--av-prime-c1);
			}
		}
	}
	.inner-item {
		width: 100%;
		z-index: 1;
		height: 400px;
		padding: 40px;
		background: linear-gradient(90deg, #F04F44 0%, #C8555D 24.56%, #965D7D 40.38%, #68649A 58.65%, #4469AF 77.4%);
		clip-path: polygon( 0% 8%,0% 8%,0.064% 6.702%,0.249% 5.471%,0.544% 4.324%,0.941% 3.275%,1.429% 2.343%,1.997% 1.544%,2.636% 0.893%,3.336% 0.408%,4.087% 0.105%,4.878% 0%,83.537% 0%,83.537% 0%,84.328% 0.105%,85.078% 0.408%,85.778% 0.893%,86.417% 1.544%,86.986% 2.343%,87.473% 3.275%,87.87% 4.324%,88.166% 5.471%,88.351% 6.702%,88.415% 8%,88.415% 9%,88.415% 9%,88.494% 10.622%,88.725% 12.161%,89.095% 13.596%,89.591% 14.906%,90.201% 16.071%,90.911% 17.071%,91.71% 17.884%,92.585% 18.49%,93.523% 18.869%,94.512% 19%,95.122% 19%,95.122% 19%,95.913% 19.105%,96.664% 19.408%,97.364% 19.893%,98.003% 20.544%,98.571% 21.343%,99.059% 22.275%,99.456% 23.324%,99.751% 24.471%,99.936% 25.702%,100% 27%,100% 92%,100% 92%,99.936% 93.298%,99.751% 94.529%,99.456% 95.676%,99.059% 96.725%,98.571% 97.657%,98.003% 98.456%,97.364% 99.107%,96.664% 99.592%,95.913% 99.895%,95.122% 100%,4.878% 100%,4.878% 100%,4.087% 99.895%,3.336% 99.592%,2.636% 99.107%,1.997% 98.456%,1.429% 97.657%,0.941% 96.725%,0.544% 95.676%,0.249% 94.529%,0.064% 93.298%,0% 92%,0% 8% );
		@media #{$xxl,$xl,$lg,$md,$sm,$xs,$xxs} {
			clip-path: none;
			border-radius: 30px;
		}
		h3 {
			color: #fff;
			max-width: 250px;
			font-size: 32px;
		}
		.item-img {
			z-index: -1;
			right: -45px;
			bottom: -55px;
		}
		.read_more {
			top: 20px;
			right: 115px;
			color: #fff;
			font-size: 20px;
			font-weight: 500;
			position: absolute;
		}
	}
	&:is(.type_two) {
		.inner-item {
			background: linear-gradient(90deg, #7BD7DC 0%, #44B6E9 100%);
		}
	}
	&:is(.type_three) {
		max-width: 400px;
		@media #{$lg,$md,$sm,$xs,$xxs} {
			max-width: 100%;
		}
		.inner-item {
			z-index: 1;
			background: #E0E2E6;
			clip-path: polygon( 0% 8%,0% 8%,0.105% 6.702%,0.408% 5.471%,0.893% 4.324%,1.544% 3.275%,2.343% 2.343%,3.275% 1.544%,4.324% 0.893%,5.471% 0.408%,6.702% 0.105%,8% 0%,73% 0%,73% 0%,74.298% 0.105%,75.529% 0.408%,76.676% 0.893%,77.725% 1.544%,78.657% 2.343%,79.456% 3.275%,80.107% 4.324%,80.592% 5.471%,80.895% 6.702%,81% 8%,81% 9%,81% 9%,81.131% 10.622%,81.51% 12.161%,82.116% 13.596%,82.929% 14.906%,83.929% 16.071%,85.094% 17.071%,86.404% 17.884%,87.839% 18.49%,89.378% 18.869%,91% 19%,92% 19%,92% 19%,93.298% 19.105%,94.529% 19.408%,95.676% 19.893%,96.725% 20.544%,97.657% 21.343%,98.456% 22.275%,99.107% 23.324%,99.592% 24.471%,99.895% 25.702%,100% 27%,100% 92%,100% 92%,99.895% 93.298%,99.592% 94.529%,99.107% 95.676%,98.456% 96.725%,97.657% 97.657%,96.725% 98.456%,95.676% 99.107%,94.529% 99.592%,93.298% 99.895%,92% 100%,8% 100%,8% 100%,6.702% 99.895%,5.471% 99.592%,4.324% 99.107%,3.275% 98.456%,2.343% 97.657%,1.544% 96.725%,0.893% 95.676%,0.408% 94.529%,0.105% 93.298%,0% 92%,0% 8% );
			@media #{$xxl,$xl,$lg,$md,$sm,$xs,$xxs} {
				clip-path: none;
				border-radius: 30px;
			}
			.read_more {
				color: #1F1F1F;
			}
			.item-img {
				z-index: 1;
				left: -100px;
				bottom: -65px;
			}
			.bg_shape {
				top: -30%;
				right: -20%;
				z-index: -1;
			}
		}
	}
}