.av-ab2-content {
	margin: 0 auto;
	max-width: 1400px;
}
.av-ab2-content {
	.av-ser1-top-content {
		.av-sec-title {
			max-width: 940px;
		}
	}
}
.av-ab2-wrapper {
	gap: 40px;
	align-items: center;
	justify-content: space-between;
	@media #{$lg,$md,$sm,$xs,$xxs} {
		flex-wrap: wrap;
		justify-content: center;
	}
}
.av-ab2-img {
	width: 100%;
	max-width: 866px;
	.item-img {
		clip-path: polygon( 0% 5.369%,0% 5.369%,0.048% 4.498%,0.188% 3.672%,0.412% 2.902%,0.713% 2.198%,1.082% 1.573%,1.513% 1.036%,1.997% 0.599%,2.527% 0.274%,3.096% 0.07%,3.695% 0%,96.305% 0%,96.305% 0%,96.904% 0.07%,97.473% 0.274%,98.003% 0.599%,98.487% 1.036%,98.918% 1.573%,99.287% 2.198%,99.588% 2.902%,99.812% 3.672%,99.952% 4.498%,100% 5.369%,100% 94.631%,100% 94.631%,99.952% 95.502%,99.812% 96.328%,99.588% 97.098%,99.287% 97.802%,98.918% 98.427%,98.487% 98.964%,98.003% 99.401%,97.473% 99.726%,96.904% 99.93%,96.305% 100%,18.707% 100%,18.707% 100%,18.107% 99.93%,17.539% 99.726%,17.009% 99.401%,16.524% 98.964%,16.094% 98.427%,15.725% 97.802%,15.424% 97.098%,15.2% 96.328%,15.06% 95.502%,15.012% 94.631%,15.012% 83.557%,15.012% 83.557%,14.963% 82.686%,14.823% 81.86%,14.599% 81.09%,14.299% 80.386%,13.929% 79.761%,13.499% 79.224%,13.015% 78.787%,12.484% 78.462%,11.916% 78.258%,11.316% 78.188%,3.695% 78.188%,3.695% 78.188%,3.096% 78.118%,2.527% 77.914%,1.997% 77.589%,1.513% 77.152%,1.082% 76.615%,0.713% 75.99%,0.412% 75.286%,0.188% 74.516%,0.048% 73.69%,0% 72.819%,0% 5.369% );
		@media #{$sm,$xs,$xxs} {
			clip-path: none;
		}
	}
	.item-play {
		left: 5px;
		bottom: 5px;
		position: absolute;
		@media #{$sm,$xs,$xxs} {
			left: 0;
			bottom: 0;
		}
		a {
			color: #fff;
			width: 100px;
			height: 100px;
			font-size: 30px;
			border-radius: 20px;
			background: var(--av-prime-c1);
			@media #{$xs,$xxs} {
				width: 80px;
				height: 80px;
			}
		}
	}
}
.av-ab2-text {
	max-width: 474px;
	@media #{$xl} {
		max-width: 350px;
	}
	@media #{$lg,$md,$sm,$xs,$xxs} {
		max-width: 866px;
	}
}
.av-ab2-text-item {
	width: 100%;
	padding: 40px;
	margin-bottom: 4px;
	border-radius: 16px;
	background-color: #1F1F1F;
	h3 {
		color: #F0F2F4;
		font-size: 24px;
		font-weight: 600;
		padding-bottom: 10px;
	}
}