.av-blog2-sec {
	.av-sec-title {
		max-width: 1300px;
	}
}
.av-blog2-wrapper {
	margin: 0 auto;
	max-width: 1460px;
}
.av-blog2-content {
	gap: 30px;
	@media #{$lg,$md,$sm,$xs,$xxs} {
		flex-wrap: wrap;
		justify-content: center !important;
	}
}
.av-blog2-item {
	&:is(.type-one) {
		width: 100%;
		max-width: 820px;
		.item-img {
			clip-path: polygon( 0% 93.684%,0% 93.684%,0.038% 94.709%,0.149% 95.681%,0.327% 96.587%,0.565% 97.414%,0.857% 98.15%,1.198% 98.781%,1.582% 99.295%,2.002% 99.678%,2.452% 99.917%,2.927% 100%,87.317% 100%,87.317% 100%,87.792% 99.917%,88.242% 99.678%,88.662% 99.295%,89.046% 98.781%,89.387% 98.15%,89.679% 97.414%,89.917% 96.587%,90.095% 95.681%,90.206% 94.709%,90.244% 93.684%,90.244% 89.737%,90.244% 89.737%,90.308% 88.029%,90.493% 86.41%,90.788% 84.899%,91.185% 83.52%,91.673% 82.294%,92.241% 81.242%,92.88% 80.385%,93.58% 79.747%,94.331% 79.348%,95.122% 79.211%,97.073% 79.211%,97.073% 79.211%,97.548% 79.128%,97.998% 78.889%,98.418% 78.506%,98.802% 77.992%,99.143% 77.361%,99.435% 76.625%,99.673% 75.797%,99.851% 74.891%,99.962% 73.919%,100% 72.895%,100% 6.316%,100% 6.316%,99.962% 5.291%,99.851% 4.32%,99.673% 3.413%,99.435% 2.586%,99.143% 1.85%,98.802% 1.219%,98.418% 0.705%,97.998% 0.322%,97.548% 0.083%,97.073% 0%,28.78% 0%,28.78% 0%,28.147% 0.11%,27.547% 0.429%,26.987% 0.94%,26.476% 1.625%,26.021% 2.466%,25.631% 3.448%,25.314% 4.551%,25.077% 5.759%,24.929% 7.055%,24.878% 8.421%,24.878% 9.711%,24.878% 9.711%,24.846% 10.568%,24.753% 11.38%,24.604% 12.137%,24.405% 12.828%,24.159% 13.442%,23.874% 13.968%,23.553% 14.395%,23.201% 14.712%,22.824% 14.909%,22.427% 14.974%,3.922% 14.778%,3.922% 14.778%,3.286% 14.883%,2.683% 15.197%,2.121% 15.705%,1.607% 16.389%,1.15% 17.23%,0.758% 18.212%,0.438% 19.318%,0.2% 20.529%,0.051% 21.829%,0% 23.199%,0% 41.053%,0% 41.579%,0% 93.684% );
			@media #{$md,$sm,$xs,$xxs} {
				clip-path: none;
				overflow: hidden;
				border-radius: 25px;
			}
		}
	}
	&:is(.type-two) {
		width: 100%;
		max-width: 594px;
		@media #{$xl} {
			max-width: 435px;
		}
		.item-img {
			clip-path: polygon( 0% 93.684%,0% 93.684%,0.053% 94.709%,0.206% 95.681%,0.451% 96.587%,0.78% 97.414%,1.183% 98.15%,1.654% 98.781%,2.184% 99.295%,2.763% 99.678%,3.385% 99.917%,4.04% 100%,82.492% 100%,82.492% 100%,83.147% 99.917%,83.769% 99.678%,84.348% 99.295%,84.878% 98.781%,85.349% 98.15%,85.752% 97.414%,86.081% 96.587%,86.326% 95.681%,86.479% 94.709%,86.532% 93.684%,86.532% 89.737%,86.532% 89.737%,86.62% 88.029%,86.875% 86.41%,87.284% 84.899%,87.831% 83.52%,88.504% 82.294%,89.289% 81.242%,90.171% 80.385%,91.138% 79.747%,92.174% 79.348%,93.266% 79.211%,95.96% 79.211%,95.96% 79.211%,96.615% 79.128%,97.237% 78.889%,97.816% 78.506%,98.346% 77.992%,98.817% 77.361%,99.22% 76.625%,99.549% 75.797%,99.794% 74.891%,99.947% 73.919%,100% 72.895%,100% 6.316%,100% 6.316%,99.947% 5.291%,99.794% 4.32%,99.549% 3.413%,99.22% 2.586%,98.817% 1.85%,98.346% 1.219%,97.816% 0.705%,97.237% 0.322%,96.615% 0.083%,95.96% 0%,39.731% 0%,39.731% 0%,38.857% 0.11%,38.028% 0.429%,37.255% 0.94%,36.549% 1.625%,35.921% 2.466%,35.383% 3.448%,34.945% 4.551%,34.618% 5.759%,34.414% 7.055%,34.343% 8.421%,34.343% 9.711%,34.343% 9.711%,34.299% 10.568%,34.171% 11.38%,33.965% 12.137%,33.69% 12.828%,33.351% 13.442%,32.957% 13.968%,32.514% 14.395%,32.028% 14.712%,31.508% 14.909%,30.96% 14.974%,5.414% 14.778%,5.414% 14.778%,4.537% 14.883%,3.704% 15.197%,2.928% 15.705%,2.218% 16.389%,1.587% 17.23%,1.046% 18.212%,0.605% 19.318%,0.276% 20.529%,0.071% 21.829%,0% 23.199%,0% 41.053%,0% 41.579%,0% 93.684% );
			@media #{$md,$sm,$xs,$xxs} {
				clip-path: none;
				overflow: hidden;
				border-radius: 32px;
			}
		}
	}
	.item-arrow {
		right: 0;
		bottom: 0;
		position: absolute;
		a {
			z-index: 1;
			width: 64px;
			height: 64px;
			font-size: 22px;
			border-radius: 100%;
			position: relative;
			transform: rotate(-45deg);
			border: 1px solid transparent;
			background: linear-gradient(#212121, #212121) padding-box, var(--av-prime-c1) border-box;
			&:before {
				top: 0;
				left: 0;
				z-index: -1;
				width: 100%;
				content: '';
				height: 100%;
				border-radius: 100%;
				transform: scale(0);
				position: absolute;
				transition: all 500ms ease-in-out;
				background-image: var(--av-prime-c1);
			}
		}
	}
	.item-tag {
		top: 0;
		left: 0;
		position: absolute;
		a {
			color: #fff;
			font-size: 16px;
			padding: 10px 16px;
			border-radius: 12px;
			background-color: #212121;
		}
	}
	.item-text {
		border-bottom: 1px solid rgba(198, 199, 200, 0.1);
		.blg_title {
			color: #fff;
			font-size: 32px;
			max-width: 630px;
			font-weight: 600;
			padding-bottom: 10px;
			@media #{$xs,$xxs} {
				font-size: 28px;
			}
		}
		p {
			color: #C6C7C8;
		}
	}
	.item-author {
		gap: 12px;
		.item-img {
			width: 60px;
			height: 60px;
			overflow: hidden;
			border-radius: 100%;
		}
		.ath-text {
			h4 {
				color: #fff;
				line-height: 1;
				font-size: 20px;
				font-weight: 600;
				padding-bottom: 5px;
			}
			span {
				color: #C6C7C8;
				font-size: 16px;
			}
		}
	}
	&:hover {
		.item-arrow {
			a {
				&:before {
					transform: scale(1.0);
				}
			}
		}
	}
}