.av-hero2-wrapper {
	padding-top: 220px;
	.hero_title2 {
		font-size: 85px;
		overflow: hidden;
		letter-spacing: -3px;
		span {
			div {
				@extend%gradient-text;
			}
		}
		@media #{$md} {
			font-size: 70px;
		}
		@media #{$sm} {
			font-size: 65px;
		}
		@media #{$xs} {
			font-size: 55px;
		}
		@media #{$xxs} {
			font-size: 45px;
		}
	}
}
@keyframes ROTATING {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
@keyframes bounceDown {
	0%, 20%, 50%, 80%, 100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
	40% {
		-webkit-transform: translateY(10px);
		transform: translateY(10px);
	}
	60% {
		-webkit-transform: translateY(5px);
		transform: translateY(5px);
	}
}
.av-hero2-img-text {
	margin-top: 40px;
	padding-top: 35px;
	@media #{$xl} {
		padding-top: 70px;
	}
	.item-icon-text {
		top: 0;
		left: 0;
		position: absolute;
		@media #{$lg,$md,$sm,$xs,$xxs} {
			position: static;
			margin-bottom: 40px;
		}
	}
	.hr2-img {
		clip-path: polygon( 40.073% 23.269%,40.073% 23.269%,40.222% 23.253%,40.368% 23.206%,40.512% 23.129%,40.653% 23.021%,40.789% 22.885%,40.921% 22.72%,41.048% 22.528%,41.169% 22.308%,41.283% 22.063%,41.39% 21.792%,48.781% 1.477%,48.781% 1.477%,48.888% 1.206%,49.002% 0.961%,49.122% 0.742%,49.249% 0.549%,49.381% 0.385%,49.517% 0.248%,49.658% 0.141%,49.802% 0.063%,49.948% 0.016%,50.096% 0%,98.182% 0%,98.182% 0%,98.477% 0.062%,98.756% 0.243%,99.017% 0.532%,99.256% 0.92%,99.467% 1.397%,99.649% 1.952%,99.797% 2.577%,99.907% 3.262%,99.976% 3.995%,100% 4.769%,100% 69.803%,100% 69.803%,99.976% 70.577%,99.907% 71.312%,99.797% 71.996%,99.649% 72.621%,99.467% 73.177%,99.255% 73.654%,99.016% 74.041%,98.755% 74.33%,98.475% 74.51%,98.18% 74.572%,75.584% 74.504%,75.584% 74.504%,75.411% 74.525%,75.241% 74.588%,75.075% 74.693%,74.914% 74.837%,74.759% 75.019%,74.612% 75.239%,74.472% 75.494%,74.342% 75.783%,74.222% 76.105%,74.114% 76.459%,68.102% 98.044%,68.102% 98.044%,67.993% 98.398%,67.873% 98.72%,67.743% 99.009%,67.604% 99.264%,67.457% 99.483%,67.302% 99.666%,67.142% 99.81%,66.976% 99.915%,66.806% 99.978%,66.634% 100%,1.818% 100%,1.818% 100%,1.523% 99.938%,1.243% 99.757%,0.983% 99.468%,0.744% 99.08%,0.533% 98.603%,0.351% 98.048%,0.203% 97.423%,0.093% 96.738%,0.024% 96.005%,0% 95.231%,0% 27.966%,0% 27.966%,0.024% 27.192%,0.093% 26.458%,0.203% 25.773%,0.351% 25.148%,0.533% 24.593%,0.745% 24.116%,0.983% 23.728%,1.244% 23.439%,1.524% 23.259%,1.819% 23.197%,40.073% 23.269% );
		@media #{$lg,$md,$sm,$xs,$xxs} {
			clip-path: none;
		}
		@media #{$sm,$xs,$xxs} {
			height: 300px;
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	}
	.icon-text {
		gap: 12px;
		@media #{$xxl} {
			margin-bottom: 20px;
		}
		@media #{$xl} {
			margin-bottom: 10px;
		}
		.item-text {
			span {
				font-size: 20px;
				font-weight: 500;
				padding-bottom: 4px;
			}
			p {
				color: #C6C7C8;
			}
		}
	}
	.item-desc {
		max-width: 700px;
		@media #{$xxl} {
			max-width: 600px;
		}
		@media #{$xl} {
			max-width: 400px;
		}
	}
	.item-icon-wrap {
		gap: 2px;
		.item-icon {
			width: 68px;
			height: 68px;
			border-radius: 12px;
			background: var(--av-prime-c1);
			&:nth-child(2) {
				background-color: #fff;
				svg {
					animation: ROTATING 10s infinite;
				}
			}
		}
	}
	.av-hr2-scroll {
		top: -60px;
		right: 107px;
		width: 184px;
		height: 184px;
		position: absolute;
		border-radius: 100%;
		background-color: #fff;
		border: 10px solid var(--av-black1);
		@media #{$lg} {
			top: 0;
			right: 0;
		}
		@media #{$md,$sm,$xs,$xxs} {
			display: none !important;
		}
		i {
			left: 0;
			top: 40%;
			right: 0;
			text-align: center;
			position: absolute;
			transform: translateY(-50%);
			animation: bounceDown 1.5s infinite;
		}
	}
}
.av-hr2-client {
	right: 0;
	bottom: 0;
	gap: 20px;
	position: absolute;
	padding: 40px 40px 40px 122px;
	background-image: var(--av-prime-c1);
	clip-path: polygon( 20.131% 3.243%,20.131% 3.243%,20.266% 2.654%,20.412% 2.119%,20.57% 1.639%,20.738% 1.216%,20.914% 0.853%,21.098% 0.552%,21.289% 0.313%,21.486% 0.141%,21.687% 0.035%,21.891% 0%,97.753% 0%,97.753% 0%,98.117% 0.112%,98.463% 0.437%,98.785% 0.957%,99.08% 1.654%,99.342% 2.511%,99.566% 3.509%,99.749% 4.632%,99.885% 5.862%,99.971% 7.181%,100% 8.571%,100% 91.429%,100% 91.429%,99.971% 92.819%,99.885% 94.138%,99.749% 95.368%,99.566% 96.491%,99.342% 97.489%,99.08% 98.346%,98.785% 99.043%,98.463% 99.563%,98.117% 99.888%,97.753% 100%,4.652% 100%,4.652% 100%,4.114% 99.762%,3.635% 99.094%,3.222% 98.059%,2.884% 96.725%,2.629% 95.157%,2.465% 93.42%,2.401% 91.58%,2.446% 89.703%,2.606% 87.854%,2.892% 86.1%,20.131% 3.243% );
	@media #{$md,$sm,$xs,$xxs} {
		padding: 30px;
		clip-path: none;
		position: static;
	}
	li {
		width: 64px;
		height: 64px;
		overflow: hidden;
		margin-left: -28px;
		border-radius: 100%;
		border: 2px solid #fff;
		&:first-child {
			margin-left: 0;
		}
	}
	.client-count {
		gap: 12px;
	}
	h3 {
		color: #F0F2F4;
		font-size: 42px;
		font-weight: 600;
	}
	p {
		color: #fff;
		max-width: 95px;
	}
}